.cover{
    position: relative;
    margin: 0 auto 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}   
@media screen and (max-width:1024px){
 .cover{
     max-width: 1024px;    
 }   
}