.cover__overlay{
    margin: 0 auto;
    width: 100%;
    min-height: 740px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    background-color:rgba(42, 44, 47, .3);
    position: relative;
    z-index: 2;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
   }
.cover__overlay:hover{
    background-color:rgba(42, 44, 47, .7);
    cursor:url('../../../images/cursor-pointer.png'),pointer;
}