.cover__title{    
    box-sizing:content-box;
    margin: 0 auto; 
    padding:0;
    font-family: 'Inter',serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 76px;
    color: #fff;
    max-width: 560px;
    text-align: center;
    position: relative;
    z-index: 2;
}