.place{
margin-top: 80px;
display: grid;
row-gap: 3.75%;
column-gap:40px;
grid-template-rows:minmax(min-content,max-content) minmax(min-content,max-content) 1fr;
grid-template-columns:minmax(min-content,max-content) 1fr;
grid-template-areas: 
"heading website"
"image paragraph"
"image paragraph-second";
}